// @import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,latin-ext);
// @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,700,700italic&subset=latin,latin-ext);
// @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&subset=latin,latin-ext);

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700&subset=latin,latin-ext);
/*
@font-face {
    font-family: 'hardcoreregular';
    src: url('/fonts/hardcore-regular-webfont.eot');
    src: url('/fonts/hardcore-regular-webfont.eot?#iefix') format('embedded-opentype'), url('hardcore-regular-webfont.woff2') format('woff2'), url('hardcore-regular-webfont.woff') format('woff'), url('hardcore-regular-webfont.ttf') format('truetype'), url('hardcore-regular-webfont.svg#hardcoreregular') format('svg');
    font-weight: normal;
    font-style: normal;  
}
*/
@font-face {
  font-family: 'hardcoreregular';
  src: url('fonts/milestone-webfont.woff') format('woff'); /* Pretty Modern Browsers */
  font-style: normal;  
} 

@font-face {
    font-family: 'humble';
    src: url('fonts/humblle_rought_caps-webfont.eot');
    src: url('fonts/humblle_rought_caps-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/humblle_rought_caps-webfont.woff2') format('woff2'),
         url('fonts/humblle_rought_caps-webfont.woff') format('woff'),
         url('fonts/humblle_rought_caps-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Playball&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Parisienne&subset=latin,latin-ext);